.contentError {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;

  p.errorNumber {
    font-size: 288px;
    font-weight: 700;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  p#errorMessage {
    font-size: 36px;
    text-align: center;
    word-wrap: break-word;
  }

  a.linkHome {
    font-size: 18px;
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .contentError {
    p.errorNumber {
      font-size: 96px;
    }

    p#errorMessage {
      font-size: 18px;
    }

    a.linkHome {
      font-size: 14px;
      text-decoration: underline;
      margin-top: 100px;
      margin-bottom: 80px;
    }
  }
}
