$font: Montserrat;
$mainColor: #ff6060;

.locationPageContent {
  width: 100%;
  display: flex;
  flex-direction: column;

  .locationPageHeader {
    display: flex;
    justify-content: space-between;

    .locationPageHeaderLeft {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .locationPageHeader1 {
        h1 {
          font-size: 36px;
          margin-bottom: 0;
        }
        h2 {
          font-size: 18px;
          margin: 0;
        }
      }
      .locationPageHeader2-tags {
        ul {
          display: flex;
          list-style: none;
          padding: 0;
        }
        .singleTag {
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
          background-color: $mainColor;
          color: white;
          width: fit-content;
          min-width: 115px;
          height: 25px;
          font-size: 14px;
          margin: 5px 10px 0 0;

          padding: 0 10px 0 10px;
          text-align: center;
          border-radius: 9px;
        }
      }
    }
    .locationPageHeaderRight {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      .locationPageHeader3 {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 167px;
        height: 64px;

        .hostName {
          font-size: 18px;
          word-wrap: break-word;
          text-align: right;
          padding-right: 10px;
        }
        .hostPicture {
          width: 64px;
          height: 64px;
          border-radius: 50%;
        }
      }

      .locationPageHeader4-stars {
        display: flex;
        flex-flow: row nowrap;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .ongletsLocationPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .onglet {
      width: 47%;
      .ongletHeader {
        margin-top: 15px;
        .ongletTitle {
          font-size: 18px;
        }
      }
      .ongletText,
      li {
        list-style: none;
        font-size: 18px;
      }
      .ongletText {
        ul {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .locationPageContent {
    .locationPageHeader {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .locationPageHeaderLeft {
        .locationPageHeader1 {
          h1 {
            font-size: 18px;
            margin-bottom: 3%;
          }
          h2 {
            font-size: 14px;
            margin-bottom: 2%;
          }
        }
        .locationPageHeader2-tags {
          ul {
            margin: 0;
          }
          .singleTag {
            min-width: 84px;
            height: 18px;
            font-size: 10px;
            margin: 5px 10px 20px 0;

            padding: 0 5px 0 5px;

            border-radius: 5px;
          }
        }
      }
      .locationPageHeaderRight {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .locationPageHeader3 {
          width: 125px;
          height: 33px;

          .hostName {
            font-size: 12px;
          }
          .hostPicture {
            width: 32px;
            height: 32px;
          }
        }

        .locationPageHeader4-stars {
          img {
            width: 13px;
            height: 13px;
          }
        }
      }
    }

    .ongletsLocationPage {
      flex-direction: column;

      .onglet {
        width: 100%;
        .ongletHeader {
          margin-top: 20px;
          .ongletTitle {
            font-size: 13px;
          }
        }
        .ongletText,
        li {
          font-size: 12px;
        }
      }
    }
  }
}
