$font: Montserrat;
$mainColor: #ff6060;

.onglet {
  .ongletHeader {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: $mainColor;
    margin-top: 30px;
    height: 52px;

    .ongletTitle {
      color: white;
    }

    .arrow {
      width: 32px;
      height: 32px;
    }

    .rotate-up {
      animation: rotateUp 0.5s forwards;
    }

    .rotate-down {
      animation: rotateDown 0.5s forwards;
    }

    @keyframes rotateUp {
      from {
        transform: rotate(180deg);
      }

      to {
        transform: rotate(0deg);
      }
    }

    @keyframes rotateDown {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(180deg);
      }
    }
  }

  .ongletText {
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-family: $font;
    color: $mainColor;
    line-height: 1.5;
    background-color: #f6f6f6;
    border-radius: 0px 0px 5px 5px;
    margin: 0;
    margin-top: -5px;
    padding: 0px 20px 0px 20px;
    max-height: 0;
    overflow: hidden;

    &.active {
      padding-top: 20px;
      padding-bottom: 20px;
      transform: translateY(0%);
      transition: 0.3s;
    }
    &.inactive {
      transform: translateY(-100%);
      transition: 0.3s;
    }
  }
}

@media screen and (max-width: 768px) {
  .onglet {
    .ongletHeader {
      margin-top: 20px;
      height: 30px;

      .ongletTitle {
        color: white;
        font-size: 13px;
      }

      .arrow {
        width: 16px;
        height: 16px;
      }
    }

    .ongletText {
      font-size: 12px;
    }
  }
}
