$font: Montserrat;
$mainColor: #FF6060;


.App {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;

  .mainContent {
    margin: 3% 7% 3% 7%;
  }

  a,
  h1,
  h2,
  h3,
  p {
    font: 100% $font;
    color: $mainColor;
    text-decoration: none;
    font-size: 24px;
  }
}

// barre de navigation
.navBar {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;

  .menuNavBar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
  }
  // &.active {
  //   text-decoration: underline;
  // }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding-top: 40px;

  p {
    color: white;
  }
}

